@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0 auto;
  background-color: #282c34;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  padding: 0 10%;
  box-sizing: border-box;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  background-color: white;
  padding: 10%;
  border-radius: 20px;
}

form input {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 5% auto;
  width: 80%;
  height: 3em;
  text-indent: 2em;
}

label {
  display: inline-block;
  text-align: left;
}

input:focus {
  font-family: "Poppins", sans-serif;
  outline: none;
}

button {
  font-family: "Poppins", sans-serif;
  width: 50%;
  height: 3em;
}

.error {
  font-size: 0.8rem;
  color: red;
}

.attribution,
.attribution a {
  color: white;
}

@media screen and (min-width: 600px) {
  .App {
    padding: 0 20%;
  }
}
