@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0 auto;
  background-color: hsl(0, 100%, 74%);
  background-image: url("../bg.png");
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  padding: 0 10%;
  box-sizing: border-box;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  @media screen and (min-width: 600px) {
    padding: 0 20%;
  }

  form {
    background-color: white;
    padding: 10%;
    border-radius: 20px;

    input {
      font-family: "Poppins", sans-serif;
      display: block;
      margin: 5% auto;
      width: 80%;
      height: 3em;
      text-indent: 2em;

      &:focus {
        font-family: "Poppins", sans-serif;
        outline: none;
      }
    }

    label {
      display: inline-block;
      text-align: left;
    }

    button {
      font-family: "Poppins", sans-serif;
      background-color: hsl(154, 59%, 51%);
      color: white;
      border: none;
      border-radius: 5px;
      width: 50%;
      height: 3em;
      cursor: pointer;
    }

    .error {
      font-size: 0.8rem;
      color: red;
    }
  }

  .attribution {
    color: white;

    a {
      color: white;
    }
  }
}
